:root {
  --light: #e5ebeb;
  --dark: #403e39;
  --main-section-font-color: #273547e7;
  --modal-background: #0000001a;
  --button-backgroud: #1d75da;
  --border-radius: 5px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Verdana, "Times New Roman", Georgia,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.body-wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 7fr;
}

header {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  color: var(--dark);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.how-to,
.new-game {
  background-color: inherit;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.how-to:hover,
.new-game:hover {
  transform: scale(1.2);
}

.how-to::before,
a::before,
.new-game::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--dark);
  transition: width 0.5s ease-in-out;
}

.how-to:hover::before,
a:hover::before,
.new-game:hover::before {
  width: 100%;
}

/* ########################## */
/* SHIP PLACEMENT MODAL */
/* ########################## */

.place-ships-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background);
  backdrop-filter: blur(3px);
}

.place-ships-modal-visible {
  display: block;
}

.place-ships-modal-content {
  background-color: #fefefe;
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;

  display: grid;
  grid-template-rows: 0.3fr 1fr 0.2fr 4fr;
  border-radius: 55px;
  gap: 5px;

  animation-name: modal-fall-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes modal-fall-in {
  from {
    margin-top: -800px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.grid-select-ships {
  display: grid;
  grid-template-columns: repeat(10, 35px);
  grid-template-rows: repeat(10, 35px);
  align-self: center;
  justify-self: center;
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.05);
  border: solid #273547e7 1px;
}

.grid-select-ships * {
  border-top: solid #0065d83b 1px;
  border-left: solid #0065d83b 1px;
}

.row-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-sm);
}

.row-wrapper {
  justify-self: end;
}

.place-ships-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: var(--spacing-md);
}

.radio-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-sm);
}

.horizontal {
  justify-self: end;
}

form button {
  justify-self: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-weight: bold;
  background-color: var(--button-backgroud);
  border: none;
  color: var(--light);
  transition: transform 0.2s ease-in-out;
}

form button:hover {
  transform: scale(1.1);
}

.place-ships-modal-content p {
  justify-self: center;
  font-size: 1.3rem;
}

div.error-placing {
  color: red;
  justify-self: center;
  visibility: hidden;
}

.error-placing-visible {
  visibility: visible;
}

.placed-ship {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-relative {
  position: relative;
}

.cell-relative:hover::before {
  content: "Row: " attr(data-row) " Column: " attr(data-column);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}

/* ########################## */
/* WINNER ANNOUNCEMENT MODAL */
/* ########################## */

.announcement-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0000001a;
  backdrop-filter: blur(3px);
}

.announcement-modal-visible {
  display: block;
}

.announcement-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 30%;
  min-width: 150px;
  max-width: 600px;

  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  border-radius: 15px;
  gap: 5px;

  animation-name: announcement-modal-fall-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes announcement-modal-fall-in {
  from {
    margin-top: -800px;
    opacity: 0;
  }
  to {
    margin-top: 15%;
    opacity: 1;
  }
}

.announcement-modal-content p {
  font-weight: 600;
  font-size: 2rem;
}

.announcement-modal-content button {
  font-size: 1.5rem;
  background-color: var(--button-backgroud);
  color: var(--light);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: var(--spacing-md);
  transition: transform 0.2s ease-in-out;
}

.announcement-modal-content button:hover {
  transform: scale(1.1);
}

/* ########################## */
/* MAIN section */
/* ########################## */

.boards-wrapper {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  justify-items: center;
}

.boards-wrapper h3 {
  color: var(--main-section-font-color);
  align-self: flex-end;
}

.yourboard-grid,
.aiboard-grid {
  display: grid;
  grid-template-columns: repeat(10, 31px);
  grid-template-rows: repeat(10, 31px);
  border: solid #273547e7 1px;
}

.yourboard-grid *,
.aiboard-grid * {
  border-top: solid #0065d83b 1px;
  border-left: solid #0065d83b 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myships {
  color: blue;
}

.hit {
  background-color: rgba(255, 0, 0, 0.8);
  font-weight: 600;
  color: var(--light);
}

.miss {
  position: relative;
}

.miss::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px;
  border-radius: 50%;
  background-color: #000000a9;
}

/* ########################## */
/* HOW TO PLAY MODAL */
/* ########################## */

.how-to-play-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0000001a;
  backdrop-filter: blur(3px);
}

.how-to-play-modal-visible {
  display: block;
}

.how-to-play-wrapper {
  width: 70%;
  margin: 3% auto;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 6fr;
  gap: var(--spacing-md);
  position: relative;
}

.rules-tips-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md);
}

.rules-tips-left,
.rules-tips-right {
  background-color: #ebebeb;
  border-radius: 2rem;
  box-shadow: rgb(0 0 0 / 16%) 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
}

.rules-tips-right span {
  padding: 0 0.4rem;
  border-radius: 1rem;
  background-color: #0065d8;
  box-shadow: rgb(0 0 0 / 16%) 0 2px 2px;
  color: white;
  font-weight: bold;
}

li {
  line-height: 1.5;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0065d8;
  color: white;
  cursor: pointer;
}

.close-button:hover {
  background-color: #aaa;
}
