:root {
  --light: #e5ebeb;
  --dark: #403e39;
  --button-backgroud: #1d75da;
  --border-radius: 5px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Verdana, "Times New Roman", Georgia,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.body-wrapper {
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

header,
main,
footer {
  border: 1px solid blue;
}

header {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  color: var(--dark);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.home,
.how-to {
  background-color: inherit;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.home:hover,
.how-to:hover {
  transform: scale(1.2);
}

.home::before,
.how-to::before,
a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--dark);
  transition: width 0.5s ease-in-out;
}

.home:hover::before,
.how-to:hover::before,
a:hover::before {
  width: 100%;
}

/* MODAL */

/* .username-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.username-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: var(--border-radius);
  width: 50%;
  max-width: 500px;
}

.username-form {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.username-form label {
  display: block;
  font-weight: bold;
  color: var(--dark);
}

.username-form * {
  justify-self: center;
  align-self: center;
  font-size: 1.3rem;
}

.username-form input {
  width: 80%;
  transition: transform 0.2s ease-in-out;
}

.username-form input:focus {
  transform: scale(1.05);
}

.username-input-wrapper {
  text-align: center;
}

form button {
  padding: var(--spacing-md);
  cursor: pointer;
  border-radius: var(--border-radius);
  font-weight: bold;
  background-color: var(--button-backgroud);
  border: none;
  color: var(--light);
  transition: transform 0.2s ease-in-out;
}

form button:hover {
  transform: scale(1.1);
} */

.place-ships-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.place-ships-modal-visible {
  display: block;
}

.place-ships-modal-content {
  background-color: #fefefe;
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;

  display: grid;
  grid-template-rows: 0.3fr 1fr 0.2fr 4fr;
  border-radius: 55px;
  gap: 5px;

  animation-name: modal-fall-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes modal-fall-in {
  from {
    margin-top: -800px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.grid-select-ships {
  display: grid;
  grid-template-columns: repeat(10, 35px);
  grid-template-rows: repeat(10, 35px);
  align-self: center;
  justify-self: center;
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.05);
  border: solid #273547e7 1px;
}

.grid-select-ships * {
  border-top: solid #0065d83b 1px;
  border-left: solid #0065d83b 1px;
}

.row-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-sm);
}

.row-wrapper {
  justify-self: end;
}

.place-ships-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: var(--spacing-md);
}

.radio-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-sm);
}

.horizontal {
  justify-self: end;
}

form button {
  justify-self: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-weight: bold;
  background-color: var(--button-backgroud);
  border: none;
  color: var(--light);
  transition: transform 0.2s ease-in-out;
}

form button:hover {
  transform: scale(1.1);
}

.place-ships-modal-content p {
  justify-self: center;
  font-size: 1.3rem;
}

div.error-placing {
  color: red;
  justify-self: center;
  visibility: hidden;
}

.error-placing-visible {
  visibility: visible;
}

.placed-ship {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-relative {
  position: relative;
}

.cell-relative:hover::before {
  content: "Row: " attr(data-row) " Column: " attr(data-column);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}
